@charset "uft-8";

body {
  margin: 20px;
  padding: 0;
  background-color: #272727;
}
.main-name {
  font-size: 50px;
  font-weight: bold;
  color: antiquewhite;
  text-shadow: 3px 3px 5px antiquewhite;
  font-style: italic;
  -webkit-text-stroke: 2px #272727;
  display: block;
  text-align: center;
}


.info-PJ a{
  font-size: 30px;
  font-weight: bold;
  color: rgb(169, 168, 134);
  text-shadow: 0 0 10px rgb(169, 168, 134);
  text-decoration: none;  
  position:absolute; top:250px;
   left:600px;
 animation:ani 1s infinite alternate;  
   }
@keyframes ani{
   0%{transform:translate(0,0);}
   100%{transform:translate(0,50px);}
}  
.groot {
  display: block;
  margin: auto;
  text-align: center;
}


