@charset "utf-8";
/* 로본 PJ 미디어쿼리 */

/************************* 950이하 시작 *************************/
@media screen and (max-width: 950px) {
  /* 2-2-3. 내용단락 */
  .text-box p {
    column-count: 2;
  }
  
}
/************************* 950이하 시작 *************************/

/************************* 570이하 시작 *************************/
@media screen and (max-width: 570px) {
  /* 2-2-3. 내용단락 */
  .text-box p {
    column-count: 1;
  }
  /* 1-2.탑이동버튼 */
  .btn-top {
    width: max(5vw, 50px);
    height: max(5vw, 50px);
  }
  /* akfvndtjsdlehd */
  .link-title {
    top: -21vw;
      left: -2%;
    }
}

/************************* 570이하 종료 *************************/
