@charset "utf8";
/* 로봇 PJ CSS - robot.css */

html,body {
    /* 보이는 화면만큼 높이값 셋팅 */
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: url(../images/bg.jpg) no-repeat top/cover;
}