@charset "utf-8";
/* 로봇PJ애니메이션 -키프레임, 호출구현 : robot_ani.css */

/* 호출 */
.robot-box{
    animation: move-robot-ani 4s ease-in-out 1s forwards;
}
/* 1. 로봇이동애니 */
@keyframes move-robot-ani {
    to{
        /* left 값 변경 77% ->50% */
        left: 50%;
        /* 축소 0.3 -> 0.8 확대애니*/
        scale: .7;
        /* 트렌스폼 기준변경 : center center -> top */
        /* 트랜스폼 변경 25% */
    }
}
 /* 2. 다리구르기 애니 */
 /* 호출 */
/* 왼다리 */
.leg1{
    /* 트랜스폼 축변경(상단:top) */
    transform-origin: top;
    /* 애니메이션 */
    animation: step-walk-ani .2s .5s 20 alternate;
    /* 이름(step-walk-ani) 
    시간(.5s) 지연(1s) 반복(8) 방향(alternate) */
}
/* 오른다리 */
.leg2{
    /* 트랜스폼 축변경(상단:top) */
    transform-origin: top;
    /* 애니메이션 */
    animation: step-walk-ani .2s .5s 20 alternate;
    /* 이름(step-walk-ani) 
    시간(.5s) 지연(1.5s) 반복(8) 방향(alternate) */
}

/* 2. 다리구르기 애니 */
@keyframes step-walk-ani {
    to{
        translate: 0 -50%;
        /* scale: 가로(1) 세로(0.7) */
    }
}

/* 3. 왼쪽팔 올리기1 */

@keyframes move-arm-ani1 {
    to{
        rotate: 30deg;
        
    }
}
/* 호출 */
.arm1{
    transform-origin: top;
    animation: move-arm-ani1 1s 5s forwards;
    /* 
    이름(move-arm-ani1)
    시간(1s)
    이징()
    지연(5s)
    반복(1)
    방향()
    마지막상태(forwards)
    */
}

/* 4. 왼쪽 팔뚝 올리기 */
@keyframes move-armspan-ani1 {
    to{
        rotate: 287deg;
    }
}

.arm1 span{
    transform-origin: top;
    animation: move-armspan-ani1 1s 5s forwards;
}

/* 5. 왼손목 */
@keyframes move-armspan-ani2 {
    to{
        rotate: 70deg;
    }
}

.arm1 span::after{
    transform-origin: top;
    animation: move-armspan-ani2 1s 5s forwards;
}

/* 6. 오른팔 올리기 */


@keyframes move-arm2-ani1 {
    to{
        rotate: -140deg;
        
    }
}
@keyframes move-waving-ani1 {
    to{
        rotate: -130deg;
        
    }
}

/* 호출 */
.arm2{
    transform-origin: top;
    animation: move-arm2-ani1 .5s 6s forwards,
    move-waving-ani1 .5s ease-in-out 6.5s infinite alternate;
    
    /* 
    이름(move-arm-ani1)
    시간(1s)
    이징()
    지연(5s)
    반복(1)
    방향()
    마지막상태(forwards)
    */
}
/* 7. 오른 팔뚝흔들기 */
@keyframes move-arm2-ani2 { 
    to{
        rotate: 10deg
    }
}
/* 흔들기 */
@keyframes move-arm2-waving-ani2 { 
    to{
        rotate: -20deg
    }
}
.arm2 span{
    transform-origin: top;
    animation: move-arm2-ani2 .5s 7s forwards,
    move-arm2-waving-ani2 .5s ease-in-out 7.5s infinite alternate;
}


/* 8. 손목 돌리기 */
@keyframes rotate-ani {
    to{
        /* 역방향회전(y축) */
        rotate: y 180deg;
        /* 위치이동(x축) */
        translate: 18% 0;
    }
}
.arm2 span::after{
    animation: rotate-ani .1s 6.4s forwards;
     /* 
        이름(rotate-ani)
        시간(.1s) 이징(ease) 지연(6.4s) 
        반복() 방향() 마지막상태(forwards)
    */
}

/* 9. 로고애니 */
.logo {
    /* 처음출발 크기지정 */
    transform: scale(2);
  
    animation: 
      /* 1초후 3초간 이동애니 셋팅 */ 
      logo-ani 3s linear 1s alternate
        forwards,
      /* 4초후 스윙애니 영원히 셋팅 */ 
      swing-ani 0.4s ease-in-out 4s infinite
        alternate;
    /* 
      animation: 
      logo-ani 2s ease-in-out 1s 3 alternate forwards; */
  }
  
  @keyframes logo-ani {
    /* 정가운데 출발 */
    0% {
      top: calc(50% - 10vw);
      left: calc(50% - 10vw);
      transform: scale(2);
    }
    /* 처음위치이동 : 왼쪽위 */
    20% {
      top: calc(0% + 5vw);
      left: calc(0% + 5vw);
      transform: scale(0.5);
    }
    /* 두번째위치이동 : 오른쪽위 */
    40% {
      top: calc(0% + 5vw);
      left: calc(100% - 25vw);
      transform: scale(0.5);
    }
    /* 세번째위치이동 : 오른쪽아래 */
    60% {
      top: calc(100% - 25vw);
      left: calc(100% - 25vw);
      transform: scale(0.5);
    }
    /* 네번째위치이동 : 왼쪽아래 */
    80% {
      top: calc(100% - 25vw);
      left: calc(0% + 5vw);
      transform: scale(0.5);
    }
    /* 처음위치로 돌아옴! : 왼쪽위 */
    90% {
      top: calc(0% + 5vw);
      left: calc(0% + 5vw);
      transform: scale(1);
    }
    /* 각도 돌리기:다음 스윙애니 출발각도로 변경! */
    100% {
      top: calc(0% + 5vw);
      left: calc(0% + 5vw);
      transform: scale(1) rotate(30deg);
    }
  }
  
  /* 제자리 스윙 애니 */
  @keyframes swing-ani {
    from {
      transform: scale(1) rotate(30deg);
    }
    to {
      transform: scale(1) rotate(-30deg);
    }
  }

  /* 10. 말풍선 나타나기 애니 */
.link-title{
    animation: show-tooltip .6s ease-in 10s forwards;
}
@keyframes show-tooltip {
    to{
        transform: 
        translateX(200px) scale(1);
    }
}