// 변수 셋팅 CSS - _variables.scss

// 변수 셋팅하기
// (1) 색상 셋팅
$maincolor1: #a40606;
$maincolor1-2: #ed8c37;
$maincolor2: #374ced;
$maincolor2-2: #37a7ed;
// (2) 색상명 셋팅
$orgrad: red;
$orgAqua: aqua;
// (3) 글자크기
$fontSize1: 40px;
$fontSize2: 35px;
$fontSize3: 30px;

// (4) 객체변수 셋팅하기
$colors: (
  color1: blue,
  color2: red,
  color3: green,
  color4: purple,
);
// 객체변수
// 변수 : (속성:값, 속성:값,)
