@charset "uft-8";

body, header, main, footer, h1, ul, li {
  margin: 0;
  padding: 0;
}

body * {
  /* outline: 1px solid #fff; */
}
body {
 margin: 0;
 padding: 0;
 height: 100%;
 background: url(./img/wall.jpg) no-repeat fixed top/cover;

}

.area {
  
}
/******************* 상단영역 *******************/
header {
  height: 80px;
}
.head-area h1 {
  font-size: 70px;
  color: #dccfcf;
  text-shadow: 3px 3px 5px #f9f2f2;
  -webkit-text-stroke: 1px #000;
  text-align: center;
}


/******************* 메인영역 *******************/
.main-area {
  height: 700px;
}
h2 {
  text-align: center;
  margin-top: 100px;
}
h2 a{
  font-size: 60px;
  color: #dccfcf;
  text-shadow: 3px 3px 10px #f9f2f2;
  -webkit-text-stroke: 1px #000;
  text-decoration: none;
}




/******************* 하단영역 *******************/
footer {
  height: 100px;
}






